:root {
  --blur-01: 4px;
  --blur-02: 8px;
  --blur-03: 16px;

  --shadow-sm: 0 3px 10px 0 rgb(0 0 0 / 10%);
  --shadow-md: 0 4px 20px 0 rgb(0 0 0 / 15%);
  --shadow-lg: 0 6px 30px 0 rgb(0 0 0 / 25%);
}
