@use "@/styles/lib/mixins" as *;

:root {
  // ─── Font families ─────────────────────────────────────────────────────────
  --font-family-primary: "RethinkSans", Arial, Helvetica, sans-serif;
  --font-family-alternate: "RethinkSans", Arial, Helvetica, sans-serif;
  --font-family-dyslexia: "OpenDyslexic", "Comic Sans", sans-serif;

  // ─── Font size primitives ──────────────────────────────────────────────────
  --font-size-2xs: 1.2rem;
  --font-size-xs: 1.4rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 1.8rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.2rem;
  --font-size-2xl: 2.4rem;
  --font-size-3xl: 2.8rem;
  --font-size-4xl: 3rem;
  --font-size-5xl: 3.2rem;
  --font-size-6xl: 4rem;
  --font-size-7xl: 4.8rem;
  --font-size-8xl: 5.6rem;
  --font-size-9xl: 6.4rem;
  --font-size-10xl: 8rem;

  // ─── Semantic font sizes ───────────────────────────────────────────────────
  --font-size-display-1: var(--font-size-8xl);
  --font-size-display-2: var(--font-size-7xl);
  --font-size-display-3: var(--font-size-6xl);
  --font-size-h1: var(--font-size-4xl);
  --font-size-h2: var(--font-size-3xl);
  --font-size-h3: var(--font-size-2xl);
  --font-size-h4: var(--font-size-xl);
  --font-size-h5: var(--font-size-lg);
  --font-size-h6: var(--font-size-md);
  --font-size-text-base: var(--font-size-sm);
  --font-size-text-small: var(--font-size-xs);

  @include breakpoint(tablet up) {
    --font-size-display-1: var(--font-size-9xl);
    --font-size-display-2: var(--font-size-8xl);
    --font-size-display-3: var(--font-size-7xl);
    --font-size-h1: var(--font-size-6xl);
    --font-size-h2: var(--font-size-5xl);
    --font-size-h3: var(--font-size-3xl);
    --font-size-h4: var(--font-size-2xl);
  }

  @include breakpoint(desktop up) {
    --font-size-display-3: var(--font-size-9xl);
    --font-size-h1: var(--font-size-8xl);
    --font-size-h2: var(--font-size-7xl);
    --font-size-h3: var(--font-size-6xl);
  }

  // ─── Font weight ───────────────────────────────────────────────────────────
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  // ─── Line height ───────────────────────────────────────────────────────────
  --line-height-xs: 100%;
  --line-height-sm: 110%;
  --line-height-md: 130%;
  --line-height-lg: 150%;
  --line-height-xl: 175%;
}
