@use "@/styles/lib/mixins" as *;

.display_1 {
  font-size: var(--font-size-display-1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
}

.display_2 {
  font-size: var(--font-size-display-2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xs);
}

.display_3 {
  font-size: var(--font-size-display-3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-sm);
}

.h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-sm);
}

.h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-sm);
}

.h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-md);
}

.h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-md);
}

.h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-md);
}

.h6 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
}

.text_base {
  font-size: var(--font-size-text-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
}

.text_small {
  font-size: var(--font-size-text-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-lg);
}
