@citeopolis:registry=https://code.stratis.fr/api/v4/projects/5490/packages/npm/
@citeopolis-fontawesome:registry=https://code.stratis.fr/api/v4/projects/6190/packages/npm/
@citeopolis-graphql:registry=https://code.stratis.fr/api/v4/projects/5497/packages/npm/
