@use "@/styles/lib/helpers" as *;

.item {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-md);
  padding-block: var(--spacing-sm);
  border-bottom: 1px solid var(--color-border-subtle);
}

.date {
  flex-shrink: 0;
  font-size: var(--font-size-text-small);
  color: var(--color-text-subtle);
  font-weight: var(--font-weight-medium);
  min-width: 60px;
}

.title {
  @extend %underline;

  font-size: var(--font-size-text-base);
  color: var(--color-text-default);
}
