@use "@/styles/lib/mixins" as *;
@use "@/styles/lib/helpers" as *;

.focus {
  display: grid;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-xl);

  @include breakpoint(tablet up) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.image {
  overflow: hidden;
  border-radius: var(--border-radius-md);

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.date {
  font-size: var(--font-size-text-small);
  color: var(--color-text-subtle);
  font-weight: var(--font-weight-medium);
}

.title {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-sm);
}

.titleLink {
  @extend %underline;

  color: var(--color-text-default);
}

.lead {
  font-size: var(--font-size-text-base);
  color: var(--color-text-secondary);
  line-height: var(--line-height-lg);
}
