@use "@/styles/lib/variables.scss" as *;
@use "@/styles/lib/mixins.scss" as *;

.swiperControls {
  display: flex;
  grid-area: controls;
  align-items: center;
  align-self: center;
  min-height: 32px;
}

.swiper {
  grid-area: content;
  width: 100%;

  :global(.swiper-wrapper) {
    align-items: center;
  }

  :global(.swiper-slide) {
    // Add some padding to make the focus outline visible
    padding: var(--spacing-02);
  }
}

.paginationInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--spacing-md);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-sm);
}

.nextButton,
.prevButton,
.playButton {
  @include size(24px);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--border-radius-xs);
  transition:
    background 0.2s ease-in-out,
    color 0.2s ease-in-out;

  i {
    font-size: var(--font-size-xs);
  }

  &:hover,
  &:focus-visible {
    color: var(--button-hover-color);
    background-color: var(--button-hover-background);
  }
}
