@use "@/styles/lib/mixins.scss" as *;
@use "@/styles/lib/helpers.scss" as *;

.albumsItem {
  position: relative;
  display: flex;
  flex-direction: column;
}

.details {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: center;
  align-items: flex-start;
  margin-inline: 31px;
  margin-top: -38px;

  @container (min-width: 1000px) {
    margin-inline: 104px;
  }
}

.image {
  order: -1;
  width: 100%;
}

.category {
  display: block;
  margin-bottom: var(--spacing-sm);
}

.titleLink {
  @extend %underline;
  @extend %link-block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-12);
  height: var(--spacing-12);
}
